{% extends "base.html" %} {% block title %}Beranda{% endblock %} {% block
content %}
<p class="fs-6 text-muted">Beranda</p>
<h2 class="text-center text-dark mb-4">WEBSITE PREDIKSI NURSILA BAKERY</h2>

<div class="card-group">
  <div class="card shadow-sm border-0">
    <div class="card-body p-4 text-center">
      <p class="lead">
        Selamat datang di website **“Prediksi Penjualan Kue Kering pada toko
        Nursila Bakery”**. Web ini dirancang untuk membantu toko Nursila Bakery
        dalam memprediksi Penjualan Kue Kering pada hari raya Idul Fitri dan
        Idul Adha.
      </p>
    </div>
  </div>
</div>
{% endblock %}
